<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <h2>User can't be created because</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% name = (@user) ? @user.username : '' %>
<% img_url = (@user) ? @user.image_url : '' %>
<% url = (@user) ? user_url(@user) : users_url %>
<% hiddenMeth = (@user) ? 'put' : 'post' %>

<form action="<%= url %>" method="post">
  <input type="hidden" name="_method" value="<%= hiddenMeth %>">

  <input type="hidden" 
  name="authenticity_token" 
  value="<%=form_authenticity_token%>">

  <label>Username<br>
    <input name="user[username]" value='<%= name %>'><br>
  </label>

  <% unless @user %>
    <label>Password<br>
      <input type="password" name="user[password]"><br>
    </label>
  <% end %>

  <label>Photo Url<br>
    <input name="user[image_url]" value='<%= img_url %>'><br>
  </label>

  <input type="submit" value='<%= submitVal %>'>

</form>