<h2>Find some Friends</h2><br><br>

<table class='friends-index' width='25%'>
  <thead>
    <tr> <th>Username</th> <th>Profile</th> </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>

        <td> 
          <% if current_user.is_friend?(user) %>
            <button class='toggle-friendship'
                    data-root='<%= root_url %>'
                    data-name='<%= user.username %>' 
                    data-id='<%= user.id %>'>Break Friendship</button>
          <% elsif current_user == user %>  
          <% else %>
            <button class='toggle-friendship'
                    data-root='<%= root_url %>'
                    data-name='<%= user.username %>' 
                    data-id='<%= user.id %>'>Add Friend</button> 
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class='hidden submit'>Submit changes</button>
<br>

<script>
  $('.toggle-friendship').on('click', toggleFriendship);

  function toggleFriendship(event) {
    event.preventDefault();
    var target = $(event.target);
    var id = target.data('id'), root = target.data('root');

    if ( target.text() === 'Break Friendship' ) {
      destroyFriendship(id, root);
      target.text('Add Friend');
    } else {
      createFriendship(id, target.data('name'), root);
      target.text('Break Friendship');
    }
  };

  function destroyFriendship(id, root) {
    $.ajax({
      data: { 'friend_id': id }, 
      type: 'DELETE',
      url: (root + "/api/friendships/" + id),
      success: function() {
        $('#' + id).remove()
      }
    });
  };

  function createFriendship(id, name, root) {
    $.ajax({
      data: { 'friend_id': id }, 
      type: 'POST',
      url: (root + "/api/friendships"),
      success: function (resp) {
        var content = '<li class="blue-text" id=' + id + '>' + name + "</li>";
        $('.friends ul').append(content);
      }
    });
  };

</script>