<h2>Find some Friends</h2>

<table class='friends-index'>
  <thead>
    <tr> <th>Username</th> </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>
        <td> <%= link_to 'Edit', edit_user_path(user) %></td>

        <td> 
          <% if current_user.is_friend?(user) %>
            <button class='toggle-friendship'
                    data-name='<%= user.username %>' 
                    data-id='<%= user.id %>'>Break Friendship</button>
          <% elsif current_user == user %>  
          <% else %>
            <button class='toggle-friendship' 
                    data-name='<%= user.username %>' 
                    data-id='<%= user.id %>'>Add Friend</button> 
          <% end %>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
<br>

<button class='hidden submit'>Submit changes</button>

<br>
<%= link_to 'New User', new_user_path %>

<script>
  $('.toggle-friendship').on('click', toggleFriendship);

  function toggleFriendship(event) {
    event.preventDefault();
    var target = $(event.target), id = target.data('id');

    if ( target.text() === 'Break Friendship' ) {
      destroyFriendship(id);
      target.text('Add Friend');
    } else {
      createFriendship(id, target.data('name') );
      target.text('Break Friendship');
    }
  };

  function destroyFriendship(id) {
    $.ajax({
      data: { 'friend_id': id }, 
      type: 'DELETE',
      url: ("http://localhost:3000/api/friendships/" + id),
      dataType: 'json',
      success: function() {
        $('#' + id).remove()
      }
    });
  };

  function createFriendship(id, name) {
    $.ajax({
      data: { 'friend_id': id }, 
      type: 'POST',
      url: ("http://localhost:3000/api/friendships"),
      dataType: 'json',
      success: function (resp) {
        var content = '<li class="blue-text" id=' + id + '>' + name + "</li>";
        $('.friends ul').append(content);
      }
    });
  };

</script>