<h2>Your Bankroll: <%= user.getBalance() %> </h2>

<div class='float-left mainbar'>
	<div class='inner-mainbar'>

		<div class='outer-pay-box'>
		</div>

		<div class='news-feed'>
			<ul><% transactions.each(function(trans) { %>
				<li> <%= trans.escape('payer') %> paid 
					<%= trans.escape('receiver') %> $
					<%= trans.escape('amount')        %> for
					<%= trans.escape('note')          %>
					<button id='delete' data-id="<%=trans.id%>">Delete</button>
				</li>
			<% }); %></ul>
		</div>
		
	</div>
</div>