<% friends = current_user.friends %>

<div class='float-right sidebar'>
	<div class='inner-sidebar'>

		<div class='profile'>
		  <img src="<%= current_user.image_url %>">
		  <ul class='blue-text'>
		  	<li class ='bold'>
		  		<%= link_to "Hello #{current_user.username}", user_url(current_user)%>
		  	</li>
	  		<li><span>
	  			<%= link_to 'Edit Profile', edit_user_url(current_user) %>
	  		</span></li>
	  	</ul>
		</div>

		<div class='friends'>
			<span class='blue-text'>Friends</span> (<%= friends.size %>)
			<span class="blue-text">
				<%= link_to 'Find Friends', users_url %>
			</span>

			<% friends.each do |friend| %>
				<li class='blue-text'><%= friend.username %></li>
			<% end %>
		</div>
	</div>
</div>

<!-- can make it to the right like Venmo later -->
<!-- <span class='blue-text bold'>
	Hello <%= current_user.username %> &nbsp;&nbsp
</span><br>
<span>
		<%= link_to 'Edit Profile', edit_user_url(current_user) %>
</span> -->