<!DOCTYPE html>
<html>
<head>
  <title>BillMo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head> 
<body>

<% if logged_in? %>
	<%= render partial: 'layouts/header' %>
	<%= render partial: 'layouts/sidebar' %>
<% end %>

<span id='message-success' class='blue-text' 
      style='font-weight: bold; font-size: 20px;'>
	<%= flash[:notice] if flash[:notice] %>
</span>

<script>
	setTimeout(function(){
		$('#message-success').remove();	
	}, 2000);
</script>

<%= yield %>

</body>
</html>
