<!DOCTYPE html>
<html>
<head>
  <title>BillMo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <!-- <script type="text/javascript"
	  src="//api.filepicker.io/v1/filepicker.js">-->
  <!-- </script> -->
<!-- 	  // filepicker.setKey("AdhgDZAzTRCCd2oD0PsA9z");
 -->
  <%= csrf_meta_tags %>
</head> 
<body>

<% if logged_in? %>
	<%= render partial: 'layouts/header' %>
	<%= render partial: 'layouts/sidebar' %>
<% end %>

<%= yield %>

</body>
</html>
